.settings {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    border-radius: 16px;
    padding: 40px;
    background: var(--06);
}

.avatar {
    display: flex;
    justify-content: center;

    img {
        border-radius: 8px;
        width: 280px;
        height: 485px;
        object-fit: cover;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.list_item {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--04);

    button {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        color: var(--03);
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        @media (hover: hover) {
            &:hover {
                color: var(--accent);
            }
        }

        &:active {
            color: var(--01);
        }

        &.active {
            color: var(--01);
        }
    }
}

@media (max-width: 768px) {
    .settings {
        gap: 24px;
        border-radius: 16px;
        padding: 28px;
    }

    .avatar {
        img {
            width: 100%;
            max-width: 287px;
            height: 187px;
        }
    }

    .list {
        gap: 14px;
    }

    .list_item {
        padding-bottom: 8px;

        button {
            font-size: 14px;
        }
    }
}
